@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Card design*/

.card-container {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(./images/bg-main-mobile.png);
    background-size: cover;
}

.card-content {
    width: 85%;
    max-width: 400px;
    margin-top: 3%;
    height: 100%;
    position: relative;
}

.card {
    width: 100%;
    max-width: 375px;
    aspect-ratio: 2/1;
    position: absolute;
    border-radius: 10px;
    background-size: cover;
    padding: 1rem;
}

.front-card {
    margin-top: 7.5rem;
    margin-left: -8%;
    background-image: url(./images/bg-card-front.png);

    display: grid;
    grid-template-rows: 25% 1fr;
    gap: 20%;
    z-index: 1;
}

.front-card img {
    width: 20%;
    max-width: 80px;
}

.card-info-container {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: hsl(0, 0%, 100%);
}

.card-num {
    font-size: 1.3rem;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
}

.back-card {
    margin-left: 8%;
    background-image: url(./images/bg-card-back.png);
    display: flex;
    align-items: center;
    justify-content: end;
}

.cvc-card {
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    margin-right: 20px;
    font-size: 1.3rem;
}

/*Form design*/

.form-container {
    width: 100%;
    margin-top: 23%;
    display: flex;
}

.form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.inp-container, .date-cvc-container  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.label {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    letter-spacing: 1px;
}

input {
    width: 100%;
    height: 40px;
    padding: 5px;

    background-color: hsl(270, 3%, 87%);
    border-radius: 5px;
    border: 1px solid hsl(279, 6%, 55%);
    outline: none;
}

input:focus {
    border: 1px solid hsl(278, 94%, 30%);
}

.date-cvc-container {
    flex-direction: row;
    gap: 20px;
}

.date-inp-container{
    display: flex;
    gap: 10px;
}

.submit-btn {
    margin-top: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}

/*FORM Finish*/

.finishedForm {
    width: 65%;
    max-width: 400px;
    margin-top: 25%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.finishedForm h3 {
    margin-top: 1.5rem;
    color: hsl(278, 68%, 11%);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.finishedForm p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: hsl(279, 6%, 55%);
}

.finishedForm button {
    margin-top: 1.5rem;
    width: 100%;
    height: 2.4rem;
    background: hsl(278, 68%, 11%);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.submit-btn:hover, .finishedForm button:hover {
    cursor: pointer;
    background: hsl(278, 94%, 30%);
}

@media screen and (min-width: 900px) {
    body {
        display: flex;
        flex-direction: row;
    } 
/*Card design*/
    .card-container {
        width: 45%;
        max-width: 500px;
        height: 100%;
        align-items: center;
        justify-content: center;
    
        background-image: url(./images/bg-main-desktop.png);
    }

    .card-content {
        width: 100%;
        height: 50%;
    }

    .card {
        position: initial;
    }

    .front-card {
        margin-top: 0;
        margin-left: 25%;
    }

    .card-num {
        font-size: 1.8rem;
    }

    .card-info {
        font-size: 1rem;
    }
    
    .back-card {
        margin-left: 35%;
        margin-top: 15px;
    }

/*Form design*/

    .form-container {
        width: 45%;
        margin-left: 10%;
        margin-top: 0;
    }

    .form {
        max-width: 370px;
    }
/*FINISHED Form*/

    .finishedForm {
        margin-top: 0;
        margin-left: 25%;
    }

    .finishedForm h3 {
        margin-top: 1.5rem;
        color: hsl(278, 68%, 11%);
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    .finishedForm p {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: hsl(279, 6%, 55%);
    }

    .finishedForm button {
        margin-top: 1.5rem;
        width: 100%;
        height: 2.4rem;
        background: hsl(278, 68%, 11%);
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }
}